.Background-Top{
    height:20vh;
    background-color: aquamarine;
}
.Background-Bot{
    height:90vh;
}
section{
    height:90vh;
    margin-top:-100px;
}

.container {
    background-color: rgb(255, 213, 0);
    height:90vh;
}

.m{
    background-color: rgb(234, 234, 234);
    height: 90vh;
}

.c{
    background-image: url(./img/mine.jpg);
    height: 90vh;
}

.header .row {
    padding-top: 5px;
}

.header{
    background-color: rgb(204, 204, 204);
}

.avatar-io{
    width:25%;
    border-radius: 30px;
    float: left;
}

.photo-avatar{
    width: 50%;
    padding-left: 20px;
}

.name-utent-io {
    float: left;
    padding-left: 10px;
    width: 50px;
    font-weight: bold;
    line-height: 3;
}

.Icons{
    width: 50%;
    line-height: 3;
    text-align: right;
}

i{
    font-size: 20px;
    padding:0 10px;
}

.notifica{
background-color: rgb(141, 197, 234);
height: 70px;
padding-left: 10px;
}

.notifica i {
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 2;
    border-radius: 50px;
    height: 45px;
    margin-top:10px;
}

.notifica p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.notifica p a {
    color:gray;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li{
    height: calc(100% / 8 );
    border-bottom: 1px solid black;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.avatars{
    width: 10%;
    float: left;
    border-radius: 50px;
}

.name-utents {
    float: left;
    padding-left: 10px;
    width: 200px;
}

.mini-p{
    padding:2px;
    background-color: aliceblue;
}

.active {
    border: 2px solid #ccc;
    opacity: 1;
    background-color: #ccc;
}

.bottom{
    position:absolute;
    bottom:0;
}

.main{
    width: 100%;
    overflow-y: scroll;
    height: 85%;
    padding-bottom: 15px;
}

.messagges{
    width: 100%;
    height: 30px;
    margin-top: 40px;
}

.received{
    width: 40%;
    float: left;
    margin-left: 20px;
    background-color: white;
    padding:5px 0px;
    padding-left: 10px;
    border-radius: 5px;
}

.sent{
    width: 40%;
    float: right;
    margin-right: 20px;
    background-color: greenyellow;
    padding:5px 0px;
    padding-left: 10px;
    border-radius: 5px;
}

.data{
    font-size: 13px;
    text-align: end;
    color:rgba(31, 31, 31, 0.826);
    padding-top: 5px;
}

i{
    cursor: pointer;
}



